*{
    margin: 0;
    padding: 0;

}

.top{
    height: 18vh;
    display: flex;
    align-items: center;
    background-color: white
}

.top h1{
    font-family: inherit;
    font-weight: 900;
    font-size: 25px;
    padding-left: 95px;
    padding-right: 2px;
    border-right: 15px solid #3caa3c;
}

.top div {
    padding-right: 100px;
   }

 a{
    text-decoration: none;
   padding: 10px;
     color: black;
    font-size: 18px;
       cursor: pointer;
    
}

a:last-child{
    border: 1px solid;
        box-shadow: 1px 1px 2px ;
}
a:last-child:hover{
    background-color: rgba(44, 191, 56, 0.93);
    color: white;
    box-shadow: 1px 1px 2px black ;
        
    transition: 0.5s;
}
body{
    background-color: rgba(210, 219, 221, 0.06);
}





.right{
       position :absolute;
      left:56%;
      top:30%;
     background-color: rgba(210, 219, 221, 0.06);
}
.c{
       position: absolute;
    left:95px;
    font-family: cursive;
    font-size: 17px;
    color: grey;

}

.d{
   position: absolute;
    left: 440px;
     font-family: cursive;
    color: grey;
    font-size: 17px;
}


.left{
    height: 80vh;

width: 50%;    
}
.left div{
    display: flex;
    justify-content: space-between;
}
.left div h2{
    font-family:inherit;
    padding-left: 95px;
    padding-right:60px;
        letter-spacing: 0.5px;
} 

.left h1{
    padding-left: 95px;
    color:gray;
    font-family: inherit;
    letter-spacing: 0.5px;
    font-size: 50px;
    padding-right: 40px;
    font-weight: 100;
    padding-top:25px;
}


.butone {
    position: absolute;
    left:95px;
    text-decoration: none;
        padding: 20px;
     box-shadow: 2px 2px 5px black;
    color: white;
    font-weight: 900;
    background-color:#18be18 ;
      letter-spacing: 1.5px;
    font-size: 20px;
    cursor: pointer;
}
.butone:hover{
      color:#18be18;
    background-color: white;
    transition: 0.5s;
}
.buttwo{
       position: absolute;
    left: 440px;
    text-decoration: none;
      color:#18be18;
     border: 1px solid #18be18;
     padding: 20px;
    margin: 7px;
    font-weight: 900;
    letter-spacing: 0.5px;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}
.buttwo:hover{
     color:#18be18;
    background-color: white;
    transition: 0.5s;
}
.dev{
    display: none;
}

@media only screen and (max-width:980px){
    
    .right{
        display:none;
    }
    .left h1{
        
        width:120%;
        font-size: 120px;
        margin-bottom: 80px;
    }
    .com h2{
        
        font-size: 80px;
    }
    .c{
        font-size: 50px;
    }
    .butone{
        margin-top: 150px;
        font-size: 40px;
        padding: 25px;
    }
    .buttwo{
        display: none;
    }
    .d{
        display: none;
    }
    .com h2:last-child
    {   
        display: none;
    }

    .top h1{
        font-size: 60px;
        
        
    }
    .top a{
        text-decoration: none;
        font-size: 45px;
    }
    .top a:first-child{
        text-decoration: none;
        margin-left: 70px;
    }

}
    

/*    


color{
        position: absolute;
    top:50px;
    left: 10px;
    padding-right: 70%;
    border-bottom-right-radius: 80px;
        border-top-right-radius:80px;
}

 h3{
             position: absolute;
    top:50%;
    left: 40%;
  font-family: cursive;
    text-transform:uppercase;
    letter-spacing:10px;
     padding: 5px;
    animation-name: mmm;
    animation-duration:10s;
    background-color: aqua;
    animation-iteration-count: infinite;
   border: 2px solid;
    
}
@keyframes mmm{
   0%{left:10px;}
      25%{left:250px;}
      50%{left:500px;}
      100%{left:1000px;}
}
h1{        position: absolute;
    top:90%;
    left: 10%;
            border: 2px solid;
    padding: 30px;
    background-color: aqua;
    animation: kul;
      animation-iteration-count: infinite;
        animation-duration:10s;
    
}
@keyframes kul{
    
   0%{color:red;left:0%;top: 84%}
      25%{color:yellow;left:88%;top: 84%;}
    
      45%{color:fuchsia;left:88%;top: 0%;}
      70%{color:magenta;left:0%;top: 0%}
         100%{color:magenta;left:0%;top: 84%}
}
*/

