*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 20px;
}
.top{
    height: 10vh;
   background-color: white;
   }

.top h1{
    padding-top: 20px;
    text-align: center;
}

.all{
   margin-left:10%;
    margin-right:10%;
    padding: 10px;
  background-color: rgba(63, 65, 65, 0.06);
    border-style: double;
    border-spacing:2px ;
}
.prob{
    margin: 10px;
    margin-bottom: 20px;
}
.exp{
    margin: 10px;
    margin-bottom: 20px;
}
.data-pym-src{
    margin: 20px;
}


 .out{
     margin: 10px;
     margin-bottom: 20px;
    height: auto;
     padding: 10px;
    background-color:white;
    box-shadow: 1px 1px 20px 0px #bebebe;
     
}

.out h4{
    margin-bottom: 10px;
}

.compiler{
    width: 80%;
    margin:10%;
    margin-top: 5%;
    border: 1px solid black;
    background-color: gray;
}
.compiler .h{
    font-size: 50px;
    color: aliceblue;
    width: 100%;
    text-align:center;
}
.compiler .txt{
    margin-left: 22%;
}
.compiler .but{
    font-size: 20px;
    padding:0 10 0 10; 
    background-color: limegreen;
    color: aliceblue;
    
}
@media only screen and (max-width:980px)
{
    .top{
        font-size:40px;
    }
    .compiler .txt{
    margin-left: 12%;
}
    .compiler .h{
        font-size: 80px;}

    .compiler .but{
    font-size: 50px;
    padding: 10 30 10 30; 
   margin-left: 40%;
        margin-top: 30px;
    }
    
}